In [1]:
import pandas as pd

In [2]:
airline = pd.read_csv("airline_sentiment.csv")

In [3]:
airline['airline'].

,Unnamed: 0,tweet_id,airline_sentiment,airline,name,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,0,5.703060e+17,neutral,Virgin America,cairdin,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,NaN,Eastern Time (US & Canada)
1,1,5.703010e+17,positive,Virgin America,jnardino,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,NaN,Pacific Time (US & Canada)
2,2,5.703010e+17,neutral,Virgin America,yvonnalynn,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,Lets Play,Central Time (US & Canada)
3,3,5.703010e+17,negative,Virgin America,jnardino,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,NaN,Pacific Time (US & Canada)
4,4,5.703010e+17,negative,Virgin America,jnardino,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...
14635,14635,5.695880e+17,positive,American,KristenReenders,0,@AmericanAir thank you we got on a different f...,NaN,2/22/15 12:01,NaN,NaN
14636,14636,5.695870e+17,negative,American,itsropes,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2/22/15 11:59,Texas,NaN
14637,14637,5.695870e+17,neutral,American,sanyabun,0,@AmericanAir Please bring American Airlines to...,NaN,2/22/15 11:59,"Nigeria,lagos",NaN
14638,14638,5.695870e+17,negative,American,SraJackson,0,"@AmericanAir you have my money, you change my ...",NaN,2/22/15 11:59,New Jersey,Eastern Time (US & Canada)
14639,14639,5.695870e+17,neutral,American,daviddtwu,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2/22/15 11:58,"dallas, TX",NaN