## **Object-Oriented Programming**

Key ideas

- How instantiate models
- Default/Positional hyperparameters
- Methods and Attributes
- Use .fit() and .predict()
- Learned attributes

## **Classes**

A recipe to make objects

- class: MarketingCampaign
- object: campaign_ohio

In [1]:
## example class

class MarketingCampaign:
  def __init__(self, name, duration, budget_internet, budget_tv):
    self.name = name
    self.duration = duration
    self.budget_internet = budget_internet
    self.budget_tv = budget_tv

In [2]:
## instance of the class (initialize)
## instantiate the object
campaign_ohio  = MarketingCampaign("Ohio", 10, 254, 400)

### **Attributes**

A piece of data stored or computed inside of the class and available everywhere, in other words, anything with `self.`

In [5]:
campaign_ohio.duration

10

### **Methods**

Is a function that belongs to the object (created inside the class). Meant to perform an action.

In [20]:
## vectorization (np.array() - allows to change an object to be a vector/matrix/tensor)
import numpy as np ## CPU parallel computations - Ohio (core 1), Kentucky (core 2)
import tensorflow as tf ## GPU parallel computations: 20000 (Google)
## pytorch - facebook's NUmpy version

class MarketingCampaign:
  def __init__(self, name, duration, budget_internet, budget_tv):
    self.name = np.array(name)
    self.duration = np.array(duration)
    self.budget_internet = np.array(budget_internet)
    self.budget_tv = np.array(budget_tv)

  ## method for total budget
  def total_budget(self):
    return self.budget_internet + self.budget_tv

  ## estimate the total sales based LR (yint + slope1 + slope3)
  def estimate_sales(self):
    self.estimated_sales = self.budget_internet * 3.5 + self.budget_tv * 4 + self.duration*10 + 1000
    return self.estimated_sales

In [10]:
campaign_ohio  = MarketingCampaign("Ohio", 10, 254, 400)

In [13]:
campaign_ohio.estimated_sales

3589.0

**Note**: You can pass multiple values at once to a class (as long as it is coded correctly). Vectors are concatenations of multiple scalars (values).

In [21]:
## instance
campaign_midwest = MarketingCampaign(["Ohio", "Kentucky", "Indiana"], [10, 8, 9], [254,200,230], [400,350,390])

In [23]:
campaign_midwest.estimate_sales()

array([3589., 3180., 3455.])

EVERYTHING IS A CLASS (OBJECT) IN PYTHON

In [24]:
mylist = [1,2,3]  ## creating an instance of the class List

In [25]:
## dir() lists all methods and attributes
dir(campaign_ohio)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'budget_internet',
 'budget_tv',
 'duration',
 'estimate_sales',
 'estimated_sales',
 'name',
 'total_budget']

### **Example OOP with Linear Regression**

Linear regression minimizes the SSE. The parameter estimates can be obtained by using the following vectorized formula:

The model fit (train) is:

$$b = (X'X)^{-1} (X'y) $$

The model predict:

$$\hat{y} = Xb $$

where X is a DESIGN MATRIX. X = {x1, x2, x3,...,1} only for linear models.

In [28]:
import numpy as np
import pandas as pd

## seed = 630
np.random.seed(630)
n = 120

## marketing dollars
tv = np.random.randint(10, 100, n)
internet = np.random.randint(5, 60, n)
email = np.random.randint(1, 20, n)

## sales (oracle )
sales = 3.5*tv + 2.0*internet + 5*email + 1000 + np.random.normal(0, 20, n)

## df
df = pd.DataFrame({"tv": tv, "internet": internet, "email": email, "sales": sales})
df.head()

   tv  internet  email        sales
0  98        55      9  1478.592324
1  71        45      7  1358.749064
2  57        16     16  1291.644999
3  64        55     13  1406.649096
4  45        59      8  1298.129550

In [29]:
## feature matrix (matrix of X)
X = df.drop("sales", axis = 1)
X.head()

   tv  internet  email
0  98        55      9
1  71        45      7
2  57        16     16
3  64        55     13
4  45        59      8

In [30]:
## Design Matrix
XD = df.drop("sales", axis = 1)
XD["intercept"] = 1
XD.head()

   tv  internet  email  intercept
0  98        55      9          1
1  71        45      7          1
2  57        16     16          1
3  64        55     13          1
4  45        59      8          1

In [31]:
## y vector
y = df.sales
y

0      1478.592324
1      1358.749064
2      1291.644999
3      1406.649096
4      1298.129550
          ...
115    1211.958803
116    1254.746534
117    1279.747896
118    1143.152102
119    1292.527657
Name: sales, Length: 120, dtype: float64